<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
     <% include partials/head.ejs %>

</head>
<body>
    <% include partials/header.ejs %>





<h1>Properties List</h1>

<table> 


    <% 
    properties.forEach(function(property, index){
        %>

        <tr>
            <td><%= property.address %></td>
            <td><%= property.phone %></td>
            <td><%= property.rating %></td>
            <td>
                <a href="/properties/edit/<%= index %>">edit</a>
                <a href="/properties/delete/<%= index %>">delete</a>
                view
            </td>
        </tr>



        <%
    });
     %>
    


</table>



 <% include partials/footer.ejs %>
</body>






